<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-center my-4">Search for Weather:</h3>
      <form [formGroup]="weatherSearchForm" (ngSubmit)="sendToWeatherApi(weatherSearchForm.value)">
        <div class="form-group">
          <div class="ng-autocomplete">
          <ng-autocomplete
            class="form-control"
            #ngAutoCompleteStatic
            type="text"
            id="weatherLocation"
            aria-describedby="weatherLocation"
            placeholder="Please input a Location"
            formControlName="location"
            [data]="data"
            [searchKeyword]="keyword"
              (inputChanged)='onChangeSearch($event)' [itemTemplate]="itemTemplate"
              [notFoundTemplate]="notFoundTemplate"
              (inputCleared)="searchCleared()"
              [debounceTime]="600"
        [isLoading]="isLoadingResult"
        [minQueryLength]="1" >
          >
          </ng-autocomplete>
          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.name"></a>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
        </ng-template>
      </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-success btn-md mx-auto my-5">
            Search for the weather
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-6"><h3 class="text-center my-4">Weather Details:</h3>
      <p class="text-center">Current weather conditions: {{this.weatherData?.description}}</p>
      <p class="text-center">Temperature in Degrees Celsius: {{this.weatherData?.temp}}</p>
      <p class="text-center">Feels like in Degrees Celsius: {{this.weatherData?.feels_like}}</p>
      <p class="text-center">Location Searched:
        <span id="weatherDataNameId">
        {{this.weatherData?.name}}
        </span>
      </p>
      <button (click)="subscribeToWeatherAlert()" class="btn btn-primary mx-auto d-block">
        Subscribe to Weather Update</button>
    </div>
  </div>
</div>
